@import '../base';

.footer-logo h3{
  font-weight: 600;
  margin: 0;
}
.social-icon{}
.social-icon a {
  display: inline-block;
  height: 35px;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  transition: transform .3;
  &:hover {
    transform: scale3D(1.125, 1.125, 1);
  }
}
.footer-menu li {
  display: inline-block;
  padding: 0 10px;
  position: relative;
}
.footer-menu a {
  color: #444;
  font-family: dosis;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.footer-menu li::before {
  background: #666 none repeat scroll 0 0;
  bottom: 8px;
  content: "";
  height: 4px;
  left: -5px;
  margin-right: 6px;
  position: absolute;
  width: 4px;
}
.footer-menu li:first-child:before{display:none}
.copyright p {
  margin-bottom: 0;
}
.copyright.mt-20 a {
  color: #000;
}
.bg-soft {
  background: #f9f9f9 none repeat scroll 0 0;
}
.footer-info{}
.socile-2 a{}
.socile-2 a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-radius: 50%;
  color: #444;
  display: inline-block;
  font-size: 16px;
  height: inherit;
  line-height: inherit;
  margin: 0 5px;
  text-align: center;
  width: inherit;
}
.socile-2 a:hover {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #999;
}
.post-thumbnail > img {
  width: 100%;
}